body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    }
    .cartao {
    width: 300px;
    height: 200px;
    
    perspective: 1000px;
    }
    .cartao__conteudo {
    width: 100%;
    height: 100%;
    background-color: #c01d8f4b;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.3s ease-in-out;
    }
    .cartao:hover .cartao__conteudo {
    transform: rotateY(90 deg);
    }
    .cartao__conteudo h3,
    .cartao__conteudo p {
    backface-visibility: hidden;
    }
    .cartao__conteudo__pergunta {
    position: absolute;
    top: 40px;
    left: 20px;
    right: 20px;
    font-size: 1.5rem;
    }
    .cartao__conteudo__resposta {
    transform: rotateY(90 deg);
    position: absolute;
    top: 40px;
    left: 20px;
    right: 20px;
    font-size: 1.5rem;
    }